* {
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

nav {
    background: #333;
    color: #f9f9f9;
}

nav a {
    color: #f9f9f9;
    text-align: center;
    text-decoration: none;
}

footer {
    background: #ccc;
    font-size: 20px;
    text-align: center;
}

.links {
    background: #ddd;
    border: 1px solid #333;
} 
